html, body
{
    height: 100vh;
    margin: 0;
}

.page
{
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar 
{
    flex: 1;
    height: 100vh;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-top
{
    background-color: white;
}

.sidebar-middle
{
    background-color: white;
}

.sidebar-bottom
{
    background-color: white;
    padding-top: 15px;
    display: flex;
}

#linkedin, #github, #email
{
    color: grey;
    text-decoration: none;
    padding-right: 12px;
    padding-bottom: 12px;
}

.name-full
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.name-short
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    display: none;
}

.bio
{
    font-family: 'Raleway', sans-serif;
}

/* Projects */
.main
{
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    overflow: auto;
}

img 
{
    filter: gray;
    -webkit-filter: grayscale(100);
    width: 50%;
}

img:hover 
{
    filter: none;
    -webkit-filter: grayscale(0);
}

@media (max-width: 800px)
{
    .main
    {
        display: block;
    }

    img
    {
        width: 100%;
    }

    .name-full
    {
        display: none;
    }

    .name-short
    {
        display: block;
    }

    .bio
    {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
    }

    .sidebar-bottom
    {
        flex-direction: column;
    }
}