html, body
{
    height: 100vh;
    margin: 0;
}

.page
{
    display: flex;
    height: 100vh;
}

b
{
    font-weight: bold;
}

/* Sidebar */
.sidebar 
{
    flex: 1;
    height: 100vh;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-top
{
    background-color: white;
    padding-bottom: 15px;
}

.sidebar-middle
{
    padding-top: 15px;
    background-color: white;
}

.sidebar-bottom
{
    background-color: white;
    padding-top: 30px;
    display: flex;
}

.sidebar-bottom a
{
    color: grey;
    text-decoration: none;
    padding-right: 12px;
    padding-bottom: 12px;
}

.name-full
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.name-short
{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    display: none;
}

.bio
{
    font-family: 'Raleway', sans-serif;
}

/* Projects */
.main
{
    display: flex;
    flex-wrap: wrap;
    flex: 4;
    overflow: auto;
}

.projectContainer
{
    width: 50%;
    display: flex;
    position: relative;
}

img 
{
    position: relative;
    width: 100%;
    z-index: -1;
}

.overlay
{
    position: absolute;
    width: 0%;
    height: 100%;
    background-color:rgba(0,0,0,.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}

.projectTitle
{
    margin-left: 12%;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 16px;    
}

.projectDescription
{
    margin-left: 12%;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 12px;
    margin-right: 12%;
}

.projectLinkArea
{
    margin-top: 27px;
    margin-left: 12%;
    display: flex;
}

.projectLinkArea a
{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.projectContainer:hover .overlay
{
    width: 35%;
}

@media (max-width: 800px)
{
    .main
    {
        display: block;
    }

    .projectContainer
    {
        width: 100%;
    }

    .name-full
    {
        display: none;
    }

    .name-short
    {
        display: block;
    }

    .bio
    {
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
    }

    .sidebar-bottom
    {
        flex-direction: column;
    }
}